In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import geopandas as gpd
import fiona

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pwd

'/Users/mmainza/Desktop/projects/covid-recovery/data'

In [3]:
# all codes need to be brought in as strings
msa  =  pd.read_excel('../../data/geographies/cbsa.xlsx',
                      sheet_name='cbsa',
                      usecols="A,D,M",
                      converters={'area_code':str,'CBSA Code':str})
rc = pd.read_excel('../../data/geographies/regional-commissions.xlsx',
                   sheet_name='county-rc',
                   usecols="A,C,D",
                   converters={"area_code":str})

In [4]:
msa.sort_values('area_code', ascending='False', inplace=True)
rc.sort_values('area_code', ascending='False', inplace=True)

In [5]:
# get clean covid data
covid = pd.read_csv('../application/app-data/covid-county-clean.csv')
covid = covid[['date','area_name','area_code','cases','deaths']]

covid.date = pd.to_datetime(covid.date)

covid['area_code'] = covid['area_code'].astype(int)
covid['area_code'] = covid['area_code'].astype(str)

In [6]:
# make a single dataset with the right unique identifiers for each
covidCodes = covid[['area_name','area_code']]
covidCodes.drop_duplicates(inplace=True)
msaCodes = msa[['CBSA Title','CBSA Code']]
msaCodes.drop_duplicates(inplace=True)
msaCodes.rename(columns={'CBSA Title' : 'area_name',
                         'CBSA Code'  : 'area_code'}, inplace=True)
rcCodes = rc[['Regional Commission','RC_ID']]
rcCodes.drop_duplicates(inplace=True)
rcCodes.rename(columns={'Regional Commission' : 'area_name',
                        'RC_ID'               : 'area_code'}, inplace=True)

codes = covidCodes.append([rcCodes, msaCodes])

codes.reset_index(drop=True, inplace=True)

/Users/mmainza/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/mmainza/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/mmainza/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/Users/mmainza/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [7]:
# get new data from nyt
covidCountyNew = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')
covidCountyNew = covidCountyNew.loc[covidCountyNew['state'] == 'Georgia']

covidCountyNew = covidCountyNew[['date','county','fips','cases','deaths']]

# get state level data
covidStateNew = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv')
covidStateNew = covidStateNew.loc[covidStateNew['state'] == 'Georgia']

covidCountyNew.rename(columns={'county' : 'area_name',
                               'fips'   : 'area_code'}, inplace=True)

covidStateNew.rename(columns={'state' : 'area_name',
                              'fips'  : 'area_code'}, inplace=True)

covidNew = covidStateNew.append(covidCountyNew)

# the covid data is reported as a cumulative sum
# we want the daily counts as well for different charting options
covidNew.date = pd.to_datetime(covidNew.date)
covidNew.sort_values(['area_name', 'date'], ascending=[True, True], inplace=True)



covidNew.dropna(subset=['area_code'], inplace=True)

covidNew['area_code'] = covidNew['area_code'].astype(int)
covidNew['area_code'] = covidNew['area_code'].astype(str)

covidNew.reset_index(inplace=True, drop=True)

covidNew.sort_values(['area_name', 'date'], ascending=[True, True], inplace=True)

# filter only dates AFTER 4/30
covidNew = covidNew.loc[covidNew['date'] >= '2020-04-30']
# append to cleaned sheet
covid = covid.append(covidNew)
covid.sort_values(['area_code','date'], inplace=True)
covid.reset_index(drop=True,inplace=True)

In [8]:
covidStateNew.tail(50)

            date area_name  area_code  cases  deaths
752   2020-03-16   Georgia         13    118       1
805   2020-03-17   Georgia         13    142       1
859   2020-03-18   Georgia         13    193       3
913   2020-03-19   Georgia         13    282      10
967   2020-03-20   Georgia         13    482      14
1021  2020-03-21   Georgia         13    552      20
1075  2020-03-22   Georgia         13    620      25
1129  2020-03-23   Georgia         13    800      25
1183  2020-03-24   Georgia         13   1097      38
1237  2020-03-25   Georgia         13   1387      47
1291  2020-03-26   Georgia         13   1643      56
1345  2020-03-27   Georgia         13   2198      64
1399  2020-03-28   Georgia         13   2447      79
1454  2020-03-29   Georgia         13   2683      83
1509  2020-03-30   Georgia         13   3032     102
1564  2020-03-31   Georgia         13   4117     125
1619  2020-04-01   Georgia         13   4748     154
1674  2020-04-02   Georgia         13   5444     176
1729  2020-04-03   Georgia         13   5967     198
1784  2020-04-04   Georgia         13   6383     208
1839  2020-04-05   Georgia         13   6742     219
1894  2020-04-06   Georgia         13   7558     294
1949  2020-04-07   Georgia         13   9156     348
2004  2020-04-08   Georgia         13  10204     370
2059  2020-04-09   Georgia         13  10885     412
2114  2020-04-10   Georgia         13  11859     425
2169  2020-04-11   Georgia         13  12261     432
2224  2020-04-12   Georgia         13  12103     438
2279  2020-04-13   Georgia         13  13125     479
2334  2020-04-14   Georgia         13  13913     517
2389  2020-04-15   Georgia         13  14583     569
2444  2020-04-16   Georgia         13  15644     611
2499  2020-04-17   Georgia         13  16658     661
2554  2020-04-18   Georgia         13  17014     670
2609  2020-04-19   Georgia         13  17619     682
2664  2020-04-20   Georgia         13  18447     767
2719  2020-04-21   Georgia         13  19189     810
2774  2020-04-22   Georgia         13  20099     837
2829  2020-04-23   Georgia         13  20905     871
2884  2020-04-24   Georgia         13  21575     889
2939  2020-04-25   Georgia         13  22225     897
2994  2020-04-26   Georgia         13  22459     907
3049  2020-04-27   Georgia         13  23229     981
3104  2020-04-28   Georgia         13  23607    1022
3159  2020-04-29   Georgia         13  24300    1086
3214  2020-04-30   Georgia         13  25431    1121
3269  2020-05-01   Georgia         13  26436    1153
3324  2020-05-02   Georgia         13  27268    1161
3379  2020-05-03   Georgia         13  27618    1168
3434  2020-05-04   Georgia         13  28350    1228

In [9]:
covid['daily_cases'] = np.where(covid['area_code'] == covid['area_code'].shift(), covid.cases - covid.cases.shift(), np.nan)

covid['daily_cases'].fillna(covid['cases'], inplace=True)

covid['daily_deaths'] = np.where(covid['area_code'] == covid['area_code'].shift(), covid.deaths - covid.deaths.shift(), np.nan)
covid['daily_deaths'].fillna(covid['deaths'], inplace=True)

In [10]:
covid.head()

        date area_name area_code  cases  deaths  daily_cases  daily_deaths
0 2020-03-02   Georgia        13      2       0          2.0           0.0
1 2020-03-03   Georgia        13      2       0          0.0           0.0
2 2020-03-04   Georgia        13      2       0          0.0           0.0
3 2020-03-05   Georgia        13      2       0          0.0           0.0
4 2020-03-06   Georgia        13      3       0          1.0           0.0

In [11]:
covidMsa = pd.merge(covid,msa, how='left', on='area_code')

In [12]:
covidMsa.dropna(subset=['CBSA Code'], inplace=True)

In [13]:
covidMsa = covidMsa.groupby(['date','CBSA Title','CBSA Code']).agg({'cases'       :'sum',
                                                                    'deaths'      :'sum',
                                                                    'daily_cases' :'sum',
                                                                    'daily_deaths':'sum'}).reset_index()

In [14]:
covidRc = pd.merge(covid,rc, how='left', on='area_code')

In [15]:
covidRc = covidRc.groupby(['date','Regional Commission','RC_ID']).agg({'cases'       :'sum',
                                                                       'deaths'      :'sum',
                                                                       'daily_cases' :'sum',
                                                                       'daily_deaths':'sum'}).reset_index()

In [16]:
# match the column names and order of all frames

# final has to be the following
# date,area_code (state fips, county fips, cbsa, lwfda_no),area_name,cases,
# deaths,daily_cases,daily_deaths,rolling_7_case_avg,rolling_7_death_avg

covidRc.rename(columns={'Regional Commission' : 'area_name',
                        'RC_ID'               : 'area_code'}, inplace=True)

covidMsa.rename(columns={'CBSA Title' : 'area_name',
                         'CBSA Code'  : 'area_code'}, inplace=True)

In [17]:
covidRc = covidRc.set_index(['date','area_name']).unstack(fill_value=0).asfreq('D', fill_value=0).stack().sort_index(level=1).reset_index()
covidMsa = covidMsa.set_index(['date','area_name']).unstack(fill_value=0).asfreq('D', fill_value=0).stack().sort_index(level=1).reset_index()
covid = covid.set_index(['date','area_name']).unstack(fill_value=0).asfreq('D', fill_value=0).stack().sort_index(level=1).reset_index()

In [18]:
# each dataframe now has 0 in place of some of their area_codes because of dates added
# merge with correct area codes
covidRc = pd.merge(covidRc, codes, how='left', on='area_name')
covidRc.rename(columns={'area_code_y' : 'area_code'}, inplace=True)
covidRc = covidRc[['date','area_name','area_code','cases','daily_cases','deaths','daily_deaths']]
covidMsa = pd.merge(covidMsa, codes, how='left', on='area_name')
covidMsa.rename(columns={'area_code_y' : 'area_code'}, inplace=True)
covidMsa = covidMsa[['date','area_name','area_code','cases','daily_cases','deaths','daily_deaths']]
covid = pd.merge(covid, codes, how='left', on='area_name')
covid.rename(columns={'area_code_y' : 'area_code'}, inplace=True)
covid = covid[['date','area_name','area_code','cases','daily_cases','deaths','daily_deaths']]

In [19]:
covidRc.sort_values(['area_code','date'], ascending=['False','False'], inplace=True)
covidMsa.sort_values(['area_code','date'], ascending=['False','False'], inplace=True)
covid.sort_values(['area_code','date'], ascending=['False','False'], inplace=True)

In [20]:
df = covid.append([covidRc, covidMsa])

In [21]:
df.reset_index(drop=True,inplace=True)

In [22]:
# get 7 day rolling average for cases
groupedCases = df.groupby(['area_name']).apply(lambda x: x.set_index('date').resample('1D').first())

groupedCases = groupedCases.groupby(level=0)['daily_cases'] \
                            .apply(lambda x: x.shift().rolling(min_periods=6,window=7).mean()) \
                            .reset_index(name='avg_cases_7')

# get 7 day rolling average for deaths
groupedDeaths = df.groupby(['area_name']).apply(lambda x: x.set_index('date').resample('1D').first())

groupedDeaths = groupedDeaths.groupby(level=0)['daily_deaths'] \
                             .apply(lambda x: x.shift().rolling(min_periods=6,window=7).mean()) \
                             .reset_index(name='avg_deaths_7')

In [23]:
df = pd.merge(df, groupedCases, how='left', on=['date', 'area_name'])
df = pd.merge(df, groupedDeaths, how='left', on=['date', 'area_name'])

In [24]:
df["dateTwo"] = pd.to_datetime(df["date"]).dt.strftime('%b %d')

In [25]:
df["date"] = pd.to_datetime(df["date"]).dt.strftime('%m-%d-%Y')

In [26]:
df = df[['date','dateTwo','area_name','area_code','daily_cases','avg_cases_7','daily_deaths','avg_deaths_7']]

In [27]:
df.to_csv('../application/app-data/covid.csv',index=False)

In [28]:
# add total new cases last two weeks
# add total new cases per 1000
# add daily growth rate over last 14 days
# new cases over the last 7 days
# new cases over the previous 7-day period
# total change current week to previous week
# week to week change per 100k

In [29]:
df.tail()

,date,dateTwo,area_name,area_code,daily_cases,avg_cases_7,daily_deaths,avg_deaths_7
23483,04-30-2020,Apr 30,"Waycross, GA",48180,7.0,3.285714,1.0,0.571429
23484,05-01-2020,May 01,"Waycross, GA",48180,7.0,3.571429,0.0,0.714286
23485,05-02-2020,May 02,"Waycross, GA",48180,-2.0,4.000000,0.0,0.571429
23486,05-03-2020,May 03,"Waycross, GA",48180,0.0,3.428571,0.0,0.571429
23487,05-04-2020,May 04,"Waycross, GA",48180,5.0,3.142857,1.0,0.571429